.cockpit-container {
  .canvas {
    width: 13.2%;
    height: 23.7%;
    left: 42.8%;
    top: 35.98%;
    z-index: 1;
    position: absolute;
    transform: perspective(600px) rotateX(-6.4deg);
    border-radius: 3px;
  }
}
