.cockpit-container {
  .canvas {
    width: 14.2%;
    height: 25.2%;
    left: 43.5%;
    top: 38.4%;
    z-index: 1;
    position: absolute;
    transform: perspective(600px) rotateX(-6.4deg);
    border-radius: 3px;
  }
}
