.canvas {
  width: 44%;
  height: 45%;
  left: 5.8%;
  top: 7.9%;
  z-index: 1;
  position: absolute;
  transform: perspective(600px) rotateX(-3.4deg);
  border-radius: 10px;
  @media screen and (max-width: $breakpoint-lg) {
    width: 51.9%;
    height: 53.5%;
    left: 18.1%;
    top: 9.1%;
    position: absolute;
    transform: perspective(600px) rotateX(-3.4deg);
    border-radius: 9px;
  }
  @media screen and (max-width: $breakpoint-md) {
    width: 57.9%;
    height: 53.5%;
    left: 6.1%;
    top: 9.1%;
    border-radius: 3px;
  }
  @media screen and (max-width: $breakpoint-sm) {
    width: 51.9%;
    left: 3.1%;
    border-radius: 2px;
    position: relative;
    min-height: unset;
    transform: scaleY(0.79);
  }
  @media screen and (max-width: 530px) {
    width: 51.9%;
    left: 3%;
    border-radius: 2px;
    min-height: 269px;
    top: 44px;
    transform: unset;
    position: absolute;
  }
}
